.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.main-page__image-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.main_title {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: none;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.form-wrapper {
  position: relative;
}

.login-section,
.signup-section {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.show-login .login-section {
  opacity: 1;
  pointer-events: auto;
}

.show-signup .signup-section {
  opacity: 1;
  pointer-events: auto;
}

.info-modal {
  position: fixed;
  top: 20%;
  right: 50px;
  width: 300px;
  max-height: 60vh;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  z-index: 1500;
  overflow-y: auto;
  font-size: 0.9rem;
  color: #333;
  padding:24px;
}

.info-modal h2 {
  margin-top: 0;
  color: #007bff;
  font-size: 1.5rem;
  text-align: center;
}

.info-modal p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.info-modal ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.info-modal li {
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.info-modal strong {
  color: #007bff;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.3s;
}

.close-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.info-modal .summary {
  display: none;
}

@media (max-width: 1300px) {
  .info-modal {
    top: 0;
    bottom: auto;
    right: auto;
    left: 0;
    width: 100%;
    max-height: 30vh;
    border-radius: 10px 10px 0 0;
    padding: 24px 0 0 0;
  }

  .info-modal ul {
    display: none;
  }

  .info-modal p:not(.summary) {
    display: none;
  }

  .info-modal .summary {
    display: block;
  }
}

@media (max-width: 320px) {
  .info-modal {
    display: none;
  }
}